body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #ddd;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	background: #ddd;
}
h1 {
	margin: 40px auto;
	color: #e63946;
	text-align: center;
	font-weight: 300;
	font-size: 3rem;
}
ul {
	padding: 0;
	list-style-type: none;
}
li {
	padding: 6px 10px;
	border: 1px solid #eee;
	margin: 10px auto;
}
li h4 {
	color: #e63946;
	margin: 0;
	text-transform: capitalize;
}
li p {
	color: #333;
	margin: 8px 0 0;
}

form {
	max-width: 960px;
	margin: 0 auto;

	background: #fff;
	box-shadow: 0rem 0.5rem 1rem rgba(100, 100, 100, 0.2);
	padding: 1rem;
	border-radius: 0.2rem;
}
label {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	color: #333;
	margin: 0.25rem;
}
input,
select {
	padding: 6px;
	border: 1px solid #e1e1e1;
	border-radius: 0.2rem;
	min-width: 10rem;
}
.field {
	display: inline-block;
	margin: 0 10px 0 0;
}
.field label {
	margin: 0 10px 0 0;
	color: #000000aa;
}
button {
	color: white;
	border: 0;
	background: #e63946;
	padding: 6px;
	min-width: 80px;
	border-radius: 0.2rem;
	transition: all 0.2s;
	border: 1px solid #e1e1e1;
}

button:hover {
	background: #fff;
	border: 1px solid #e63946;
	color: #e63946;
	box-shadow: 0rem 0.2rem 0.4rem #e639472a;
}

.muted {
	font-size: 1rem;
	color: #0000007a;
	margin-bottom: 0.1rem;
	font-size: 0.8rem;
}

.fieldRow {
	margin: 1rem 0;
}
